/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #000;
}

  
  header {
    background: #044DB1;
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    padding-right: 10%;
    background-color: #003682;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold; 
    position: relative;
  }
  
  .nav-links li a::after {
    content: '';
    position: absolute;
    bottom: -3px; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #4190FF; 
    transition: width 0.3s ease; 
  }
  
  .nav-links li a:hover::after,
  .nav-links li a:focus::after,
  .nav-links li a.active::after {
    width: 100%; 
  }
  
  
  .sign-in {
    background-color: #023B8A; 
    color: white; 
    border: 2px solid #4190FF; 
    
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold; 
    text-decoration: none; 
    transition: all 0.3s ease; 
  }
  

  .sign-in:hover {
    background-color: #4190FF; 
    color: #ffffff; 
    border-color: #023B8A; 
    cursor: pointer; 
  }
  
  
  .hero {
    display: flex;
    position: relative;
    height: 100svh;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #4190FF,#044DB1,#044DB1,#044DB1, #044DB1,#044DB1, #044DB1 60%, #4190FF);
    color: white;
    padding: 2rem;
    overflow: hidden;
  }
  
  
  
  .hero-text {
    position: relative;
    z-index: 2;
    max-width: 70%;
  }

  .hero-text h1,
.hero-text h2,
.hero-text p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.hero-text h1 {
  font-size: 43px;
  font-weight: 400;
  margin-bottom: 10px;
}

.hero-text h2 {
  font-size: 67px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 20px;
}

  
  .btn {
    background: #0D6EFD;
    color: white;
    padding: 1rem 3rem;
   
    text-decoration: none;
    border-radius: 5px;
  }
  
  .information-monitoring{
    padding: 2rem;
    background-color: #D8ECFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .information-monitoring img {
    width: 15%;
    margin: 0px 0;
  }

  .overview-card {
    margin-top: 2%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
  }
  
  .text-content {
    flex: 1;
    margin-right: 20px;
    align-items: start;
    text-align: left;
  }
  
  .image-container {
    display: flex;
    justify-content: left; 
  }
  
  .image-container img {
    height: auto; 
    max-height: 30%; 
    
 
  }
  
  
  
  .about-website{
    padding: 2rem;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  
  .information-monitoring h2, .about-website h2, .customer-service h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .data-card {
    background: #ffffff;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 274px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .monitoring-overview {
    margin-top: 2%;
    display: flex;
    width: 86%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: nowrap;
  }
  .overview-data {
    display: flex;
    gap: 1rem;
  }


  .air-quality-chart {
    width: 86%;
    margin-top: 2rem;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .customer-service {
  padding: 2rem;
    background-color: #D8ECFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .customer-service h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .customer-service hr {
    width: 50px;
    height: 3px;
    background-color: #044DB1;
    border: none;
    margin: 0.5rem auto 1rem;
  }

  .customer-service .contact-info {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }

  .customer-service .contact-item {
    text-align: center;
    font-size: 16px;
    color: #646466; font-size: 17px; font-weight: 400;
  }

  .customer-service .separator {
    width: 1px;
    height: 50px;
    background-color: #000000;
    margin: 0 1rem;
    padding-bottom: 2rem;
  }

  footer {
    text-align: center;
    background: #044DB1;
    color: white;
    padding: 1rem;
 
  }

  .hero-image {
    position: absolute;
    top: -10%;
    right: -2%;
    height: 100%;
    width: 50%;
    overflow: hidden;
  }
  
  .hero-image img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: 100%;
    object-fit: cover;
   
  }
  
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar {
      display: none;
    }
  
    .bottom-nav {
      display: flex;
      position: fixed;
      bottom: 0;
      width: 100%;
      justify-content: space-around;
      background: #044DB1;
      padding: 1rem;
    }
  
    .hero {
      flex-direction: column;
    }
  
    .hero-text {
      max-width: 100%;
      text-align: center;
    }
  }
  